label {
    color: white !important;
}


form[style="background-color:black"] label {
    color: white;
}

#VillasList {
    color: white !important;
}

#VillasList .card-text,
#VillasList span {
    color: white !important;
}
